.App {
	text-align: center;
}

h1 {
	color: #333;
}

.restart-button {
	margin-top: 10px;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

.field {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-gap: 5px;
	justify-content: center;
}

.cell {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.cell.X {
	color: #f00;
}

.cell.O {
	color: #00f;
}

.information {
	margin: 10px 0;
	font-size: 18px;
	color: #333;
}
