.App {
	@apply text-center;
}

h1 {
	@apply text-gray-800;
}

.restart-button {
	@apply mt-10 px-4 py-2 bg-blue-500 text-white font-semibold rounded-md text-lg cursor-pointer;
}

.field {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-gap: 5px;
	justify-content: center;
}

.cell {
	@apply w-20 h-20 flex items-center justify-center text-3xl border border-solid border-gray-300;
}

.cell.X {
	@apply text-red-500;
}

.cell.O {
	@apply text-blue-500;
}

.information {
	@apply mt-10 text-lg text-gray-800;
}
